@model HomeViewModel

<partial name="_Carousel"/> 

<h2>Os preferidos da semana</h2>
<h4>Tá com fome ???</h4>

<div class"row">
    @foreach(var food in Model.FavoriteFoods)
    {
        <partial name="_SummaryFoods" for="@food"/>
    }
</div>