@model HomeViewModel

<partial name="_Carousel"/> 

<h2>Week stars!!!</h2>
<h4>Are you hungry???</h4>

<div class"row">
    @foreach(var food in Model.FavoriteFoods)
    {
        <partial name="_SummaryFoods" for="@food"/>
    }
</div>