@model FoodListViewModel;


<div>
    <h2>@Model.CurrentCategory<h2/>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container">
    <div class="row">
        @foreach (var food in Model.Foods)
        {
            <partial name="_SummaryFood" for="@food" />
        }
    </div>
</div>