<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>We want to hear what you have to say</h3>
        <p>
            If you have any questions or suggestions, please contact us
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email adress="web.jrhk@gmail.com" content="Send an email"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(21) 90000-0000</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av Washington Luiz - 000000-000 - Rio de Janeiro</h5>
        </p>
    </div>
</div>