<br/>
<img src="~/images/adminarea.jpg" alt="Adminstration Area" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Welcome to administration area!</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
</div>
